### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.json
*.log
*.pot
*.pyc
.pytest_cache

beam_env/
data/
tft-temp/
transform_fn/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
