/* ESTILOS BASE */

*{  
    box-sizing: border-box;
    padding: 0;
    font-family:Arial, sans-serif;
}

html {
    min-height: flex;
    display: flex;
    flex-direction: column;
    width: flex;
    position: relative;
    background-image: url("images/fondodos.webp");
    background-size: cover;
}

body {
    font-family: Arial, sans-serif;
    text-align: justify;
    color: #00175ae0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin:20px;
    margin-top: 25px;
    margin-bottom: 50px;
    position: relative;
    min-height: 100vh;
    padding-bottom: 250px;
  
}

footer {
    padding: 0;
    margin-top: auto;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

  
/* ESTILOS BUTTONS */
#loginButton {
    background-color: #ffffffe0;
    color: #00175ae0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

}

#loginButton:hover {
    background-color: #00175ae0;
    color: white;
    }

#createButton {
    background-color: #ffffffe0;
    color: #00175ae0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

}

#createButton:hover {
    background-color: #00175ae0;
    color: white;
    }


#type_id {
    background-color: #ffffff;
    color: #00175ae0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.type_id:focus {
    background-color: #00175ae0;
    color: #fff; 
    outline: none; 
  }


  /* ESTILOS BODY LOGIN */
  #login-container, #create-container {
    margin-top: 0px;
  }
  #username, #cif, #phone, #email, #desc_school, #password, #centro,  #zip_code, #country_id, #password2, #city, #type_id {
    margin: 1px;
}

#username {
    background-color: #ffffff;
    color: #00175ae0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
 
#password {
    background-color: #ffffff;
    color: #00175ae0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
  
#desc_school {
    background-color: #ffffff;
    color: #00175ae0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#cif {
    background-color: #ffffff;
    color: #00175ae0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
#phone {
    background-color: #ffffff;
    color: #00175ae0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
#email {
    background-color: #ffffff;
    color: #00175ae0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
#zip_code {
    background-color: #ffffff;
    color: #00175ae0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
#password2 {
    background-color: #ffffff;
    color: #00175ae0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
#country_id {
    background-color: #ffffff;
    color: #00175ae0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
#city {
    background-color: #ffffff;
    color: #00175ae0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
  
footer {
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    color: #00175ae0;
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}